.table {
  table-layout: fixed;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
  align-items: center !important;
}

.input-group {
  margin: 20px 0px;
}

td:first-of-type, td:first-of-type > div {
  height: 160px;
  width: 250px;
}

.cityName {
  margin: 5px;
  text-align: center;
  font-weight: bold;
}
